
<div ng-controller="EntidadBancariaDetailController" ng-init="isDisabled = true">
    <form>
        <div class="row">
            <div class="col-md-3"><strong>ID: </strong></div>
            <div class="col-md-5"><input type="text" name="idEntidadBancaria" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.idEntidadBancaria" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Nombre: </strong></div>
            <div class="col-md-5"><input type="text" name="nombre" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.nombre" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Código bancario: </strong></div>
            <div class="col-md-5"><input type="text" name="codigoEntidadBancaria" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.codigoEntidadBancaria" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Fecha de creación: </strong></div>
            <div class="col-md-5"><input type="text" id="datepicker" name="fechaCreacion" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.fechaCreacion" class="form-control" ng-readonly="true" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Dirección: </strong></div>
            <div class="col-md-5"><input type="text" name="direccion" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.direccion" class="form-control" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>CIF: </strong></div>
            <div class="col-md-5"><input type="text" name="cif" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.cif" class="form-control"/></div>
        </div>
        <div class="row">
        </div>
        <div>
            <div ng-repeat="error in errors" class="alert alert-danger" role="alert"><strong>{{error.fieldName}}</strong> - {{error.message}}</div>
        </div>

    </form>
    <a class="btn btn-info" href="#/entidadbancaria/update/{{entidadBancaria.idEntidadBancaria}}">ACTUALIZAR</a>
    <a class="btn btn-danger" href="#/entidadbancaria/delete/{{entidadBancaria.idEntidadBancaria}}">BORRAR</a>
    <a class="btn btn-info" href="#/entidadbancaria/{{entidadBancaria.idEntidadBancaria}}/sucursales">Ver sucursales bancarias.</a>
    <a class="btn btn-info" href="#/entidadbancaria/list">Volver</a>
</div>