<div ng-init="isDisabled = true">
    <form>
        <div class="row">
            <div class="col-md-3"><strong>Nombre: </strong></div>
            <div class="col-md-5"><input type="text" name="nombre" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.nombre" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Código bancario: </strong></div>
            <div class="col-md-5"><input type="text" name="codigoEntidadBancaria" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.codigoEntidadBancaria" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Fecha de creación: </strong></div>
            <div class="col-md-5"><input type="text" id="datepicker" name="fechaCreacion" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.fechaCreacion" class="form-control" ng-readonly="true" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Dirección: </strong></div>
            <div class="col-md-5"><input type="text" name="direccion" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.direccion" class="form-control" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>CIF: </strong></div>
            <div class="col-md-5"><input type="text" name="cif" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.cif" class="form-control"/></div>
        </div>
    </form>


    <!-- Maestro - Detalle -->
    <div>
        <h4>Sucursales de {{entidadBancaria.nombre}}</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td><strong>Código Sucursal</strong></td>
                        <td><strong>Dirección</strong></td>
                        <td><strong>Acciones</strong></td>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sucursalBancaria in sucursalesBancarias">
                        <td>{{sucursalBancaria.codigoSucursalBancaria}}</td>
                        <td>{{sucursalBancaria.direccion}}</td>



                        <td><a class="btn btn-default btn-info" href="#/sucursalbancaria/detail/{{sucursalBancaria.idSucursalBancaria}}">Detalles</a></td>

                    </tr>
                </tbody>
            </table>
            <a class="btn btn-default btn-insert"  href="#/sucursalbancaria/insert/{{entidadBancaria.idEntidadBancaria}}">Insertar</a>
        </div><!-- Tabla -->


    </div>
    <a class="btn btn-default btn-update" href="#/entidadbancaria/update/{{entidadBancaria.idEntidadBancaria}}">Actualizar Entidad Bancaria</a>
    <a class="btn btn-default btn-delete" href="#/entidadbancaria/delete/{{entidadBancaria.idEntidadBancaria}}">Borrar Entidad Bancaria</a>
    <a class="btn btn-default btn-back" href="#/entidadbancaria/list">Volver</a>
</div>