<form ng-controller="EntidadBancariaInsertController">

    <div class="row">
        <div class="col-md-3"><strong>Nombre: </strong></div>
        <div class="col-md-5"><input type="text" name="name" ng-model="entidadBancaria.nombre" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Código Bancario: </strong></div>
        <div class="col-md-5"><input type="text" name="bankCode" ng-model="entidadBancaria.codigoEntidadBancaria" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Fecha de creación: </strong></div>
        <div class="col-md-5"><input id="datepicker" type="text" name="creationDate" ng-model="entidadBancaria.fechaCreacion" class="form-control" ng-readonly="true" /></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Dirección: </strong></div>
        <div class="col-md-5"><input type="text" name="address" ng-model="entidadBancaria.direccion" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>CIF: </strong></div>
        <div class="col-md-5"><input type="text" name="ctc" ng-model="entidadBancaria.cif" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input  ng-click="insert()" type="submit" value="Insertar" class="btn btn-info"/><br>
        </div>
    </div>
    <div>
        <div ng-repeat="error in errors" class="alert alert-danger" role="alert"><strong>{{error.fieldName}}</strong> - {{error.message}}</div>
    </div>

</form>
