<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <h2 class="text-center">Nueva Entidad</h2>
        <form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td>
                            <input type="text" ng-model="entidadBancaria.nombre" ng-required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Código Bancario</strong></td>
                        <td>
                            <input type="text" ng-model="entidadBancaria.codigoEntidadBancaria" ng-pattern="/^[0-9]{4}$/" ng-required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Fecha de Creación</strong></td>
                        <td>
                            <input id="datepicker" type="text" ng-model="entidadBancaria.fechaCreacion" ng-readonly="true" ng-required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Dirección</strong></td>
                        <td>
                            <input type="text" ng-model="entidadBancaria.direccion" ng-required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td><strong>CIF</strong></td>
                        <td>
                            <input type="text" ng-model="entidadBancaria.cif" ng-pattern="/^[0-9]{8}[A-Z]$/" ng-required="required" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
        <input class="btn btn-default btn-insert pull-left" type="submit" ng-click="insert()" value="Insertar" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
        <a class="btn btn-default btn-back pull-right" href="#/entidadbancaria/list">Volver</a>
    </div>
</div>
