<div ng-init="isDisabled = true">

    <form>
        <div class="row">
            <div class="col-md-3"><strong>Nombre: </strong></div>
            <div class="col-md-5"><input type="text" name="nombre" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.nombre" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Código bancario: </strong></div>
            <div class="col-md-5"><input type="text" name="codigoEntidadBancaria" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.codigoEntidadBancaria" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Fecha de creación: </strong></div>
            <div class="col-md-5"><input type="text" id="datepicker" name="fechaCreacion" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.fechaCreacion" class="form-control" ng-readonly="true" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Dirección: </strong></div>
            <div class="col-md-5"><input type="text" name="direccion" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.direccion" class="form-control" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>CIF: </strong></div>
            <div class="col-md-5"><input type="text" name="cif" ng-disabled="{{isDisabled}}" ng-model="entidadBancaria.cif" class="form-control"/></div>
        </div>
        <div class="row">
        </div>

    </form>
    <p> ¿Estás seguro que quieres borrar la entidad: {{entidadBancaria.nombre}}? </p>
    <a class="btn btn-default btn-delete" href="" ng-click="delete()">Sí</a>
    <a class="btn btn-default btn-back" href="#/entidadbancaria/detail/{{entidadBancaria.idEntidadBancaria}}">No</a>
</div>
