<div ng-init="isDisabled = true">
    <form>
        <div class="row">
            <div class="col-md-3"><strong>Código Sucursal:  </strong></div>
            <div class="col-md-5"><input type="text" name="nombre" ng-model="sucursalBancaria.codigoSucursalBancaria" class="form-control" ng-disabled="{{isDisabled}}"/></div>
        </div> 

        <div class="row">
            <div class="col-md-3"><strong>Fecha creación: </strong></div>
            <div class="col-md-5"><input type="text" name="codigoEntidadBancaria" ng-model="sucursalBancaria.fechaCreacion" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Dirección: </strong></div>
            <div class="col-md-5"><input type="text"  name="fechaCreacion" ng-model="sucursalBancaria.direccion" ng-disabled="{{isDisabled}}" class="form-control" ng-readonly="true" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Teléfono: </strong></div>
            <div class="col-md-5"><input type="text" name="direccion" ng-model="sucursalBancaria.telefono" ng-disabled="{{isDisabled}}" class="form-control" /></div>
        </div>

    </form>
    {{mensaje}}
    <a class="btn btn-default btn-update" href="#/sucursalbancaria/update/{{sucursalBancaria.idSucursalBancaria}}">Actualizar</a>
    <a class="btn btn-default btn-delete" href="#/sucursalbancaria/delete/{{sucursalBancaria.idSucursalBancaria}}">Borrar</a>
    <a class="btn btn-default btn-back" href="#/entidadbancaria/detail/{{sucursalBancaria.entidadBancaria.idEntidadBancaria}}">Volver</a>
</div>