<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:annotation-config />
    
    <bean class="com.fpmislata.daw2.persistence.jdbc.impl.ConnectionFactoryImplDataSource" />
    
    <bean class="com.fpmislata.daw2.persistence.dao.impl.hibernate.EntidadBancariaDAOImplHibernate" />
    <bean class="com.fpmislata.daw2.business.service.impl.EntidadBancariaServiceImpl" />
    
    <bean class="com.fpmislata.daw2.persistence.dao.impl.hibernate.UsuarioDAOImplHibernate" />
    <bean class="com.fpmislata.daw2.persistence.dao.impl.hibernate.CuentaBancariaDAOImplHibernate"/>
    <bean class="com.fpmislata.daw2.business.service.impl.UsuarioServiceImpl" />
    <bean class="com.fpmislata.daw2.business.service.impl.CuentaBancariaServiceImpl" />
    <bean class="org.jasypt.util.password.BasicPasswordEncryptor" />
    <bean class="com.fpmislata.daw2.security.impl.PasswordManagerImplJasypt" />

</beans>
