<div class="jumbotron login col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" ng-controller="IndexController">
    <div class="container">
        <form class="login-form" ng-submit="login()" >
            <div class="form-group">
                <strong>Email:</strong>
                <input type="text" class="form-control" ng-model="loginData.email" />
            </div>
            <div class="form-group">
                <strong>Contraseña:</strong>
                <input type="password" class="form-control" ng-model="loginData.contrasena" />
            </div>
            <div class="row text-center">
                <input type="submit" value="Identificarse" class="btn-login" />
             
            </div>
        
          
        </form>
    </div>
    <div>        <div ng-repeat="error in errors" class="alert alert-danger" role="alert"><strong>{{error.fieldName}}</strong> - {{error.message}}</div>

    </div>
</div>