<div>
    <p id="arriba" ng-click="flechaArriba()"><a><span></span></a></p>
    <p id="abajo" ng-click="flechaAbajo()"><a><span></span></a></p>
    <div id="landing">
        <section id="bienvenido" class="slide f">
            <h1><strong>1 Bienvenido</strong> al EcoBanco</h1>
        </section>
        <section id="sobre_nosotros" class="slide">
            <h1>2 Banco que respeta los árboles</h1>
        </section>
        <section id="objetivos" class="slide">
            <h1>3 Queremos hacer muchas cosas</h1>
        </section>
    </div>
</div>
