<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <h2 class="text-center">Nuevo Movimiento</h2>
        <form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Tipo</strong></td>
                        <td>
                            <select ng-model="tipoMovimientoBancario">
                                <option value="">--Elige opción--</option>
                                <option selected value="HABER">Haber</option>
                                <option value="DEBER">Deber</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Concepto</strong></td>
                        <td>
                            <input type="text" ng-model="movimientoBancario.concepto" />
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Cantidad</strong></td>
                        <td>
                            <input type="text" ng-model="movimientoBancario.cantidad" />
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Número Cuenta</strong></td>
                        <td>
                            <p>{{ccc}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
        <input class="btn btn-default btn-insert pull-left" type="submit" ng-click="insert()" value="Insertar" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
        <a class="btn btn-default btn-back pull-right" href="#/cuentabancaria/detail/{{movimientoBancario.cuentaBancaria.idCuentaBancaria}}">Volver</a>
    </div>
</div>
