<div ng-controller="MovimientoBancarioDetailController" ng-init="isDisabled = true">
    <form>
        <div class="row">
            <div class="col-md-3"><strong>ID: </strong></div>
            <div class="col-md-5"><input type="text" name="idEntidadBancaria" ng-model="movimientoBancario.idMovimientoBancario" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Tipo Movimiento: </strong></div>
            <div class="col-md-5"><input type="text" name="nombre" ng-model="movimientoBancario.tipoMovimientoBancario" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Concepto: </strong></div>
            <div class="col-md-5"><input type="text" name="codigoEntidadBancaria" ng-model="movimientoBancario.concepto" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Cantidad: </strong></div>
            <div class="col-md-5"><input type="text"  name="fechaCreacion" ng-model="movimientoBancario.cantidad" class="form-control" ng-readonly="true" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Saldo posterior al movimiento: </strong></div>
            <div class="col-md-5"><input type="text" name="direccion" ng-model="movimientoBancario.saldo" class="form-control" /></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Fecha: </strong></div>
            <div class="col-md-5"><input type="text"  id="datepicker" name="fecha" ng-model="movimientoBancario.fecha" class="form-control"/></div>
        </div>
        <div class="row">
            <div class="col-md-12"><input  ng-click="update()" type="submit" value="Actualizar" class="btn btn-info"/><br></div>
        </div>
        <div>
            <div ng-repeat="error in errors" class="alert alert-danger" role="alert"><strong>{{error.fieldName}}</strong> - {{error.message}}</div>
        </div>

    </form>
</div>