<div ng-controller="CuentaBancariaListController">
    <h1>Cuentas Bancarias</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td><strong>ID cuenta</strong></td>
                    <td><strong>Cliente</strong></td>
                    <td><strong>CCC</strong></td>
                    <td><strong>Acciones</strong></td>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cuentaBancaria in cuentasBancarias">
                    <td>{{cuentaBancaria.idCuentaBancaria}}</td>
                    <td>{{cuentaBancaria.usuario.nombre}} {{cuentaBancaria.usuario.apellidos}}</td>
                    <td>{{cuentaBancaria.sucursalBancaria.entidadBancaria.codigoEntidadBancaria}} {{cuentaBancaria.sucursalBancaria.codigoSucursalBancaria}} {{cuentaBancaria.digitoControl}} {{cuentaBancaria.numeroCuenta}}</td>

                    <td><a class="btn btn-info" href="#/cuentabancaria/detail/{{cuentaBancaria.idCuentaBancaria}}">Detalles</a></td>

                </tr>
            </tbody>
        </table>
    </div><!-- Tabla -->
    <p>Buscar por DNI: <input type="text" ng-model="dni">    <button class="btn btn-info" ng-click="findByDni()"> Buscar </button> <button class="btn btn-success" ng-click="refresh()">Volver</button></p>
    
    <a class="btn btn-success" href="#/cuentabancaria/insert">INSERTAR</a>

</div>