<div ng-init="isDisabled = true">
       <form>
        <div class="row">
            <div class="col-xs-4 col-md-3 col-xs-offset-1 col-md-offset-2"><strong>Saldo</strong></div>
            <div class="col-xs-6 col-md-5"><input type="text" name="nombre" ng-disabled="{{isDisabled}}" ng-model="cuentaBancaria.saldo" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-3 col-xs-offset-1 col-md-offset-2"><strong>CCC: </strong></div>
            <div class="col-xs-6 col-md-5"><input type="text" name="codigoEntidadBancaria" ng-disabled="{{isDisabled}}" ng-model="ccc" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-3 col-xs-offset-1 col-md-offset-2"><strong>Sucursal:  </strong></div>
            <div class="col-xs-6 col-md-5"><input type="text" id="datepicker" name="fechaCreacion" ng-disabled="{{isDisabled}}" ng-model="sucursal" class="form-control" ng-readonly="true" /></div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-3 col-xs-offset-1 col-md-offset-2"><strong>Usuario: </strong></div>
            <div class="col-xs-6 col-md-5"><input type="text" name="direccion" ng-disabled="{{isDisabled}}" ng-model="usuario" class="form-control" /></div>
        </div>

    </form>
        <p> ¿Estás seguro que quieres borrar la cuenta: {{ccc}}? </p>
        <a class="btn btn-default btn-delete" href="" ng-click="delete()">Sí</a>
        <a class="btn btn-default btn-back" href="#/cuentabancaria/detail/{{cuentaBancaria.idCuentaBancaria}}">No</a>
</div>