<form ng-controller="UsuarioInsertController">

    <div class="row">
        <div class="col-md-3"><strong>Nombre: </strong></div>
        <div class="col-md-5"><input type="text" ng-model="usuario.nombre" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Apellidos: </strong></div>
        <div class="col-md-5"><input type="text" ng-model="usuario.apellidos" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Correo: </strong></div>
        <div class="col-md-5"><input type="text" ng-model="usuario.email" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Apodo: </strong></div>
        <div class="col-md-5"><input type="text" ng-model="usuario.nickname" class="form-control"/></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>DNI: </strong></div>
        <div class="col-md-5"><input type="text" ng-model="usuario.dni" class="form-control"/></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>Contraseña: </strong></div>
        <div class="col-md-5"><input type="password" ng-model="usuario.contrasena" class="form-control"/></div>
    </div>

    <div class="row">
        <!--
        <div class="col-md-3"><strong>Rol: </strong></div>
        <div class="col-md-5"><input type="text" ng-model="usuario.rol" class="form-control"/></div>
        
        -->
        <div class="col-md-3"><strong>Rol</strong></div>
        <div class="col-md-5">

            <select ng-model="usuario.rol" class="form-control">
                <option selected value="ADMIN">Administrador</option>
                <option value="EMPLEADO">Empleado</option>
                <option value="CLIENTE">Cliente</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input  ng-click="insert()" type="submit" value="Insertar" class="btn btn-info"/><br>
        </div>
    </div>
    <div>
        <div ng-repeat="error in errors" class="alert alert-danger" role="alert"><strong>{{error.fieldName}}</strong> - {{error.message}}</div>
    </div>

</form>
