<div ng-init="isDisabled = true">
    <form>
        <div class="row">
            <div class="col-md-3"><strong>Nombre: </strong></div>
            <div class="col-md-5"><input type="text" name="name" ng-model="usuario.nombre" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Apellidos: </strong></div>
            <div class="col-md-5"><input type="text" name="surname" ng-model="usuario.apellidos" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Correo: </strong></div>
            <div class="col-md-5"><input type="text" name="email" ng-model="usuario.email" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Apodo: </strong></div>
            <div class="col-md-5"><input type="text" name="text" ng-model="usuario.apodo" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Contraseña: </strong></div>
            <div class="col-md-5"><input type="password" name="password" ng-model="usuario.contrasena" ng-disabled="{{isDisabled}}" class="form-control"/></div>
        </div>

        <div class="row">
            <div class="col-md-3"><strong>Rol</strong></div>
            <div class="col-md-5">
                <select ng-model="usuario.rol" class="form-control" ng-disabled="{{isDisabled}}">
                    <option value="ADMIN">Administrador</option>
                    <option value="EMPLEADO">Empleado</option>
                    <option value="CLIENTE">Cliente</option>
                </select>
            </div>
        </div>

    </form>

    <a class="btn btn-default btn-update" href="#/usuario/update/{{usuario.idUsuario}}">Actualizar</a>
    <a class="btn btn-default btn-delete" href="#/usuario/delete/{{usuario.idUsuario}}">Borrar</a>
    <a class="btn btn-default btn-back" href="#/usuario/list">Volver</a>
</div>